.content {
    background-color: #EEF0F2 !important;
    border: none;
    margin: calc(2rem -  0.14285714em ) 0em 1rem;
    padding: 0em 0em;
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: bold;
    line-height: 1.28571429em;
    text-transform: none;
    color: rgba(0, 0, 0, 0.87);
  }

  div #top-card-background {
    height: -webkit-stretch-availble !important;
  }
